body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    /*background-image: url('imgs/spaceXlogo.png');*/
    background-repeat: no-repeat;
    background-size: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#countDownBox {
    display: flex;
    justify-content: center;
    color: darkred;
}

#subTitleBox {
    display: flex;
    justify-content: center;
    color: darkorange;
}

#missionDetailsBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    visibility: hidden;
    color: azure;
    background-color: black;
}

#missionDetailsBox div {
    margin: 1.5em;
}

#missionDetailsBtn {
    visibility: visible;
    margin-bottom: 3em;
    background-color: #005288;
    border: none;
}
#missionDetailsBtn:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #005288;
    border-color: #005288;
}

.showDetails {
    visibility: visible;
    
}

/*#craftImg {
    visibility: hidden;
}*/
#craftImg {
    display: none;
}
#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

#falcon9Img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: none;
}
#dragonImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: none;
}
#falconHeavyImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: none;
}
#starshipImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: none;
}

#craftName {
    /*font-size: 1.5em;*/
}

#countDown {
   font-family: 'Allerta Stencil', sans-serif;
    font-size: 3em;
}

#subTitleBox p {
    font-family: 'Allerta Stencil', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: none;
    }
}

@media only screen and (max-width: 475px) {
    #countDown {
        font-size: 2.5em;
    }
}

strong {
    color: #005288;
    font-size: 1.5em;
}
