body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#countDownBox {
    padding-top: 5em;
    display: flex;
    justify-content: center;
    color: darkred;
}

#subTitleBox {
    display: flex;
    justify-content: center;
    color: darkorange;
}

#missionDetailsBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    visibility: hidden;
    color: azure;
}

#missionDetailsBtn {
    visibility: visible;
    margin-bottom: 3em;
}

.showDetails {
    visibility: visible;
    
}

/*#craftImg {
    visibility: hidden;
}*/
#craftImg {
    display: none;
}

#falcon9Img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
#falconHeavyImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

#craftName {
    font-size: 1.5em;
}
