@{
    ViewBag.Title = "Home Page";
}

<div id="countDownBox">
    <h1 id="countDown"></h1>
</div>
<div id="subTitleBox">
    <p>...Until Launch</p>
</div>
<div id="missionDetailsBox" class="">
    <div>
        <button class="btn btn-success" id="missionDetailsBtn">Mission Details</button>
    </div>
    <div>
        <p id="craftName"><strong>Rocket Name: </strong></p>
        <div id="craftImg">
            <img src="~/Content/imgs/spaceXFalcon9.jpg" id="falcon9Img" />
        </div>
        <div><h1>Testing</h1></div>
        
    </div>

</div>

@section scripts {
    
    <script>

        document.getElementById("missionDetailsBtn").addEventListener("click", missionDetails);
        

        function missionDetails() {
            var x = document.getElementById("missionDetailsBox");
            if (x.style.visibility === "hidden") {
                x.style.visibility = "visible";
            } else {
                x.style.visibility = "hidden"; 
            }
        }

        //function showContentImg() {
        //    document.getElementById("craftImg").style.visibility === "visible";
        //}

        


        var url = "https://api.spacexdata.com/v3/launches/next";

        $(function () {
            $.getJSON(url).done(function (next) {
                //var nextLaunch = next.flight_number;
                var nextLaunch = next.launch_date_utc;
                document.getElementById("craftName").innerHTML += next.rocket.rocket_name;
                
                
                

                //function testing() {
                //    if (next.rocket.rocket_id === "falcon8" && document.getElementById("missionDetailsBox").style.visibility === "visible") {
                //        var craftImg = document.getElementById("craftImg");
                //        craftImg.style.visibility = "visible";
                //    } else {

                //        document.getElementById("craftImg").style.visibility = "hidden";
                //    }
                //}

                //this function to display the falcon 9 rocket image is hard coded and annoying. Thinking about putting a DB together of rocket images from spaceX that way i can dynamically put which ever rocket is being launched. 
                //^-- saved for future update. 
                function testing() {
                    if (next.rocket.rocket_id === "falcon9" && document.getElementById("missionDetailsBox").style.visibility === "visible") {
                        var craftImg = document.getElementById("craftImg");
                        craftImg.style.display = "initial";
                    } else {

                        document.getElementById("craftImg").style.display = "none";
                    }
                }
                document.getElementById("missionDetailsBtn").addEventListener("click", testing);


                var x = setInterval(function() {

                    // Get today's date and time
                    //var now = Math.round((new Date()).getTime() / 1000);
                    //var now = new Date().getUTCDate();
                    var now = new Date().getTime();
                    var countDownDate = new Date(nextLaunch).getTime();
                    

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;
    
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
                    // Output the result in an element with id="countDown"
                    document.getElementById("countDown").innerHTML = days + "D " + hours + "H "
                        + minutes + "M " + seconds + "S ";
                    console.log(now);

                    // If the count down is over or next launch is not loaded into API, display NO UPCOMING LAUNCHES
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countDown").innerHTML = "NO UPCOMING LAUNCHES DETECTED";
                    }
                    // Update the count down every 1 second
                }, 1000);


            });
            
        });//end function block to get json data from the api and use it on screen

        
    </script>
    
    }